# Node.js
node_modules/
.next/

# .env files for environment variables
.env

# IDE or editor files (e.g., VS Code, IntelliJ, etc.)
.vscode/
.idea/

# Operating system files (macOS, Windows)
.DS_Store
Thumbs.db

# Log files
*.log

# Build output directories
dist/
build/

# Temporary files
*.tmp
*.swp

# Package lock files (if not necessary for your project)
package-lock.json
yarn.lock

# Other specific file types
*.bak
*.log
*.bak
