@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  overflow: hidden;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #ccc;
    border-top: 5px solid #000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

  .tracker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    width: 75%;
    height: 75%;
    padding: 2em 0;
    z-index: 5;
}


.sphere1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  width: 300px;
  height: 300px;
  background: url("/sphere1.png") no-repeat 50% 50%;
  background-size: cover;
  border-radius: 100%;
  display: flex;
}

.sphere2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  background: url("/sphere2.png") no-repeat 50% 50%;
  background-size: cover;
  border-radius: 100%;
  display: flex;
}



.video_hero_reel{
  display: flex;
  pointer-events: none;
  width: 100%;
  align-items: center;
  height: calc(797px);
  
}



.hero_reel_video video{
border-radius: .5rem;
    height: 100%;
    object-fit: cover;
    width: 100%;

}

.hero_reel_container{
  cursor: none;
  pointer-events: all;
  position: relative;
  transition: translate .8s cubic-bezier(0,.55,.45,1) 0s;
  margin: 0px;
}

.hero_reel_wrapper{
  display: flex;
 
  width: 1856px; 
  height: 100vh;
  margin: auto;
  overflow: hidden;
  border-radius: 1rem;
}
